{#
/**
 * @file
 * Default theme implementation to content language switcher.
 *
 * Available variables:
 * - current_language: Properties:
 *   - name
 *   - code
 *   - url
 *   - is_outdated
 *   - is_new
 * - languages: A list of all enabled languages excluding current, each with the following properties:
 *   - name
 *   - code
 *   - url
 *   - is_outdated
 *   - is_new
 *
 * @ingroup themeable
 */
#}
<p>
  {{'Currently editing' | t}} <em>{{current_language.name}}</em> {{'translation' | t}}
  {% if current_language.is_outdated %}
    <span class="marker">{{ 'outdated' | t }}</span>
  {% endif %}
</p>
<div>{{'Translate this content into' | t}}</div>
<ul>
{% for language in languages %}
  <li>
    <a href="{{ language.url }}">
      {{ language.name }}
    </a>
    {% if language.is_outdated and not language.is_new %}
      <span class="marker">{{ 'outdated' | t }}</span>
    {% endif %}
    {% if language.is_new %}
      <em>{{ 'not translated' | t }}</em>
    {% endif %}
{% endfor %}
</ul>
